
@{
    ViewBag.Title = "Index";
}

@*Corresponding view to Test Controller Index Action method, whenever a view is created Visual studio does some scaffolding and adds shared layout folder containing _Layout.cshtml that is shared among all the views*@

<h1> This is Index view of Test controller </h1>

<p> This index view corresponds to Test controller Index action method </p>

