
@{
    ViewBag.Title = "Second";
}

<h2>Second</h2>

<h2>Index</h2>

@*Accessing ViewData, ViewBag and TempData Message*@


<!-- ViewData,ViewBag Message can't be accessed in the subsequent request-->


<p>ViewData Message: @ViewData["VDMessage"]</p>

<p>ViewBag Message:@ViewBag.VBMessage</p>

<!-- TempData Message will only be visible in case we use TempData.Keep() after the subsequent request-->


<p>TempData Message: @TempData["TDMessage"]</p>