
@{
    ViewBag.Title = "Index";
}

@*Corresponding view to Home Controller Index Action method, whenever a view is created Visual studio does some scaffolding and adds shared layout folder containing _Layout.cshtml that is shared among all the views and content folder which contains bootstrap, fonts and script files *@

<h1> This is Index view of Home controller </h1>

<p> This index view corresponds to Home controller Index action method </p>