
@{
    ViewBag.Title = "Error2";
}

<h2>Error2</h2>
<h1 class="alert alert-danger text-danger"> ERROR OCCURRED WHILE PROCESSING THE REQUEST </h1>
<h1 class="alert alert-danger text-danger"> OOPS SOMETHING WENT WRONG ! </h1>